<h2>New Journal Entry</h2>
<%= render 'form', :locals=>{:activities=>@activities}%>
<script>
$(document).ready(function(){
  $("#tags").tokenInput('/tags.json/',{queryParam:'q[name_cont]'});
});
</script>

